# Ignore everything
*

# Except:
!.dockerignore
!.gitmodules
!Dockerfile
!Makefile
!README.md
!install.sh

!composer
!composer/*
composer/composer.lock
composer/keys*
composer/.htaccess
!dunst
!dunst/*
!irb
!irb/*
irb/irb_history
!git
!git/*
!hypr
!hypr/*
!i3
!i3/*
!i3status
!i3status/*
!kitty
!kitty/*
!picom
!picom/*
!polybar
!polybar/**
!postgresql
!postgresql/*
!python
!python/*
!pypoetry
!pypoetry/*
!rofi
!rofi/*
!sway
!sway/**
!tint2
!tint2/*
tint2/tint2rc.backup*
!tmux
!tmux/*
!waybar
!waybar/*
!zsh
!zsh/*
zsh/.zsh_history
zsh/.zcompdump*
