# Ignore everything
*

# Except:
!.dockerignore
!.gitmodules
!Dockerfile
!Makefile
!README.md
!install.sh

!composer
!composer/*
composer/composer.lock
composer/keys*
composer/.htaccess
!irb
!irb/*
irb/irb_history
!git
!git/*
!i3
!i3/*
!i3status
!i3status/*
!picom
!picom/*
!polybar
!polybar/*
!rofi
!rofi/*
!tmux
!tmux/*
!zsh
!zsh/*
zsh/.zcompdump*
!kitty
!kitty/*
