# Ignore everything
*

# Except:
!.dockerignore
!.gitmodules
!.irbrc
!Dockerfile
!Makefile
!README.md
!install.sh

!composer
!composer/*
composer/composer.lock
composer/keys*
composer/.htaccess
!git
!git/*
!i3
!i3/*
!i3status
!i3status/*
!tmux
!tmux/*
!zsh
!zsh/*
zsh/.zcompdump*
!kitty
!kitty/*
